@font-face {
    font-family: fonte;
    src: url('../fonts/Designer.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fonte;
}

h1 {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;    
}

body {
    background: linear-gradient(#ffa1ef42, #d400ff42), url('https://steamuserimages-a.akamaihd.net/ugc/963096426582123478/99147810AD48AF17B9D42A86212CB2164E2C179A/?imw=512&imh=248&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true');
    height: 100vh;
    display: grid;
    place-items: center;
}

.relogio {
    background: transparent;
    width: 90%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 5px 10px #000;
    border-radius: 5px;
}

.relogio div {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 1px 4px 6px;
    margin: 3%;
    padding: 2%;
}

.relogio span{
    font-weight: bolder;
    font-size: 4rem;
}

.relogio span.tempo{
    font-size: 1rem;
}

@media(max-width: 760px) {
    h1 {
        top: 5%;
        font-size: 1.5rem;
    }

    .relogio{
        flex-direction: column;
        width: 50%;
    }
}